<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ImageServiceBinding" maxReceivedMessageSize="65535000"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9100/File/Upload/Image"
       binding="basicHttpBinding" bindingConfiguration="ImageServiceBinding"
       contract="Yintai.Architecture.ImageTool.Contract.IImageService" name="ImageServiceEndpoint" />
    </client>
  </system.serviceModel>
  
</configuration>